@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
    transition: ease-in-out 0s all !important;
}

body{
    background:var(--white) !important;
    font-family:'Montserrat', sans-serif;
}

under-construction{
    height:fit-content;
    width:60%;
    /* background:purple; */
    display:block;
    position: absolute;
    top: 100px;
    left:50%;
    transform:translateX(-50%);
}

h5{
    color:var(--grey);
}

.under-construction-title{
    display: block;
    width:100%;
    height:200px;
    background:url(../about-this-website/assets/under-construction-title.svg) center center no-repeat;
    background-size:contain;
}

p{
    width:100%;
    height:fit-content;
    padding:20px 0;
    font-weight: 500;
    line-height: 1.9em;
}

space{
    display:block;
    width:100%;
    height:100px;
}

.uc-btn{
    width:200px;
    padding:20px 10px;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    text-align:center;
    color:var(--white);
    font-weight:700;
    border:none !important;
    border-radius: 5px;
    transition:all ease-in-out 400ms;
}

.uc-btn:hover{
    /* transition:all ease-in-out 0.3s; */
    background-size: 100% 100%;
    cursor:pointer;
    transform:translateY(-5px);
    transition: transform 400ms ease, background-size 400ms ease, -webkit-transform 400ms ease;
}



@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 768px) {
    under-construction{
        width:90% !important; 
    }

}

@media only screen and (max-width: 992px) {

    under-construction{
        width:60%;
    }

    .under-construction-title{
        height:100px !important;
    }

    p{
        font-size:10pt;
    }

    space{
        height:50px;
    }

}

@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1300px) {
    .under-construction-title{
        height:150px;
    }
}